doctype html
html(ng-app="simpleGantt")
  head
    title Pink Platypus Project
    link(href='main.css', rel='stylesheet')
    script(src="//use.typekit.net/fej4lnm.js")
    script
        | try{Typekit.load();}catch(e){}
  body
    header
        ppp-header
    main
        h1 Anatomy and Biology
        p
            | Roughly the size of a house cat, the platypus is between 30-60 cm (12-24 in.) in length and weighs 1-2 kg (2-4 lb.). It is covered in thick, dark brown hair over most its body. The thick hair is waterproof and helps keep the platypus warm and dry when in the water, where it spends most of its time.
        p
            | Webbed paws and short legs that protrude from the sides of the body allow it to swim and dive with ease. Naturally buoyant, platypuses must keep swimming in order to stay underwater. Although you would think their wide tails are used to propel them while swimming like a beaver, they are actually used to store fat.
    script(src='vendor.js')
    script(src='main.js')