doctype html
html(ng-app="simpleGantt")
  head
    title Pink Platypus Project
    link(href='main.css', rel='stylesheet')
    script(src="//use.typekit.net/fej4lnm.js")
    script
        | try{Typekit.load();}catch(e){}
  body
    header
        ppp-header
    main
        h1 Gallery
        img(src="three.jpeg")
        a(href="gallery-4.html") Next
    script(src='vendor.js')
    script(src='main.js')