doctype html
html(ng-app="simpleGantt")
  head
    title Simple Gannt
    link(href='main.css', rel='stylesheet')
  body
    | hello billy
    tester
    script(src='vendor.js')
    script(src='main.js')