doctype html
html(ng-app="simpleGantt")
  head
    title Pink Platypus Project
    link(href='main.css', rel='stylesheet')
    script(src="//use.typekit.net/fej4lnm.js")
    script
        | try{Typekit.load();}catch(e){}
  body
    header
        ppp-header
    main
        h1 Mating and Reproduction
        p The platypus mating season is between June and October. Around 2 years of age, both male and female platypuses are ready to mate.
        p After successfully mating, two or three eggs develop in the female. After about a month, the female lays the eggs, which are soft like lizard eggs. She will incubate the eggs by curling around them for 10 days before they hatch. The male will have nothing to do with the eggs or newborns.
        p Newborn platypuses are helpless. They are blind and hairless. They feed on their mother’s milk, which is expelled through pores on her body. The babies suckle on milk for 3-4 months.While this weapon is used against predators if threatened (the platypus would actually rather run than fight), it is primarily used against other male platypuses during mating season. They fight to show dominance and scare away potential mating rivals.  
    script(src='vendor.js')
    script(src='main.js')