nav
    ul
        li
            a(href="/gallery.html") Gallery
        li
            a(href="/popCulture.html") Pop Culture
        li
            a(href="/diet.html") Diet
        li
            a(href="/anatomy.html") Anatomy
        li
            a(href="/behavior.html") Behavior
        li
            a(href="/mating.html") Mating
        li
            a(href="/classification.html") Classification
        li
            a(href="/communication.html") Communication
        li
            a(href="/habitat.html") Habitat