doctype html
html(ng-app="simpleGantt")
  head
    title Pink Platypus Project
    link(href='main.css', rel='stylesheet')
    script(src="//use.typekit.net/fej4lnm.js")
    script
        | try{Typekit.load();}catch(e){}
  body
    header
        ppp-header
    main
        h1 Pop Culture References
        ul.dotted
            li
                a(href="http://www.google.com/aclk?sa=L&ai=C_FFgN5k2VNHNFIn_pAOYsoCAC4_s8vsBp5eq0WOe-tgLEAEg9Mn2AigGULe87Y4HYMnexIvEpJAQyAEByAMbqgQlT9BU1MSMD3nCt-rohVpweC3_R3E9r0WWnfsnsjBb8ldHpDJh1YAH19OSG5AHAagHpr4b&num=1&sig=AOD64_3IgWzYBLbYz_gs4jZJhPttWRbT6Q&adurl=http://www.amazon.com/s/%3Fie%3DUTF8%26keywords%3Dplatypus%2Bbook%26tag%3Dgooghydr-20%26index%3Daps%26hvadid%3D26665021807%26hvpos%3D1s1%26hvexid%3D%26hvnetw%3Ds%26hvrand%3D3618605572499943598%26hvpone%3D%26hvptwo%3D%26hvqmt%3Db%26hvdev%3Dc%26ref%3Dpd_sl_4l83bxns97_b&nb=0&res_url=http%3A%2F%2Fwww.answers.com%2Fsearch%3Fq%3Dbooks%2Babout%2Bplatypus&rurl=http%3A%2F%2Fwww.answers.com%2FQ%2FHow_does_a_platypus_breathe&nm=32)")
                    | Platypus Book at Amazon
            li
                a(href="http://www.google.com/aclk?sa=L&ai=CvdAcN5k2VNHNFIn_pAOYsoCAC5ncgNQD-Y-dtXzr7uv7bhACIPTJ9gIoBlCc--Pb-_____8BYMnexIvEpJAQyAEByAMbqgQkT9BUxc-MDHnCt-rohWRETlr_R3E9r0WWnfsnsjDbArH4zny8gAep0qopkAcBqAemvhs&num=2&sig=AOD64_0Lbb1vblsbATQl3Eo1RBkIu67BFA&adurl=http://us.wow.com/search%3Fs_pt%3Daolsem%26s_it%3Daolsem%26s_chn%3D55%26q%3Dabout%2520duck%2520billed%2520platypus&nb=0&res_url=http%3A%2F%2Fwww.answers.com%2Fsearch%3Fq%3Dbooks%2Babout%2Bplatypus&rurl=http%3A%2F%2Fwww.answers.com%2FQ%2FHow_does_a_platypus_breathe&nm=17")
                    | Platypus @ wow.com
    script(src='vendor.js')
    script(src='main.js')